.site-header .branding {
  position: relative;
}

.site-header .nav-account.nav-account-open {
  z-index: 999;
}

.layout.layout-dashboard-manager {
  border-top: 5px solid #007aa3;
  background-color: #eee;
}

.layout.layout-dashboard-manager .panel-student{
  margin-bottom: 22px;
}

.layout.layout-dashboard-manager .panel-students-actions {
  max-height: 850px;
  overflow-y: scroll;
  padding-bottom: 20px;
}
.panel.panel-direct-reports .panel-body a.team-member-link
/*.panel.panel-my-team .panel-body a.team-member-link*/
{
  padding: 0 5px;
  margin: 0;
  border: none;
}
/*.layout.layout-dashboard-manager .panel-my-team .media,*/
.layout.layout-dashboard-manager .panel-students-list .media,
.layout.layout-dashboard-manager .panel-students .media {
    background-color: #fff;
    border: 1px solid transparent;
    padding: 5px;
}
.layout.layout-dashboard-manager .panel-students .media {
  padding: 0;
}

/*.layout.layout-dashboard-manager .panel-my-team .media:hover,*/
.layout.layout-dashboard-manager .panel-students-list .media:hover {
    background-color: #eee;
    border: 1px solid #ddd;
    transition: background-color .2s ease-in-out;
}

.layout.layout-dashboard-manager .panel-students .media:hover {
  background: transparent
}
.site-header .nav-main .nav>li.active>a, .site-header .nav-main .nav>li.active>a:hover {
  background: #ddd;
}

.layout.layout-dashboard-manager .panel-metrics .metric-box .metric-center-summary {
  top: 40px;
}

.layout.layout-dashboard-manager .panel-metrics .metric-box .metric-center-summary .secondary-metric .secondary-label {
  width: 50px;
}

.layout.layout-dashboard-manager .panel-metrics .metric-box .metric-center-summary .tertiary-metric {
  width: 100%;
  margin: -7px auto 0;
}

.layout.layout-dashboard-manager .panel-metrics .metric-box .metric-center-summary .tertiary-metric .tertiary-value {
  font-weight: 300 !important;
  display: inline-block;
  font-size: 20px;
  letter-spacing: -1px;
  text-indent: -1px;
  text-align: center;
}

.layout.layout-dashboard-manager .panel-metrics .metric-box .metric-center-summary .tertiary-metric .tertiary-label {
  display: inline-block;
  font-size: 11px;
  width: 45px;
  text-align: left;
  margin-top: 5px;
  line-height: 11.5px;
}

.panel .dm-calendar__content.panel-body {
  height: 100%;
}

.dm-calendar__list, .dm-calendar__list2 {
  list-style: none;
  padding: 0 15px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 450px !important;
}

.input-lg, .search-panel.input-group-btn button {
  height: 48px;
}

.treeview .list-group-item {
  border: none;
}
#student-status .modal-dialog,
#modal-upcoming-classes .modal-dialog,
#modal-expiring .modal-dialog {
  width: 78%;
}

.badge-info {
  background-color:  #6fa8dc;
}

.badge-warning-lt {
  background-color: rgb(162, 162, 162);
}

.show-hidden-items {
  clear: left;
  float: left;
  margin-top: 0;
  padding-top: 5px;
}

.panel.panel-direct-reports .panel-body a.team-member-link:hover
/*.panel.panel-my-team .panel-body a.team-member-link:hover*/ {
  background-color: transparent;
  border:none;
  transition: none;
  padding: 0 5px;
  margin: 0;
}
.media .slat {
  padding: 5px;
  margin: 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-left: 3px solid #ccc;
  transition: background-color .5s ease-in-out;  
}
.media .slat:hover, .media .slat.active {
  padding: 5px;
  margin: 0;
  background-color: #dcdcdc;
  border: 1px solid #e1e1e1;
  border-left: 3px solid #ccc;
  transition: background-color .2s ease-in-out;  
}
.panel.panel-students .panel-body, .panel.panel-my-team .panel-body {
    max-height: 944px;
    overflow-y: auto;
    height: 100%;
}
.panel.panel-students-list .panel-body, .panel.panel-my-team .panel-body {
  max-height: 544px;
  overflow-y: auto;
  height: 100%;
  padding: 5px
}
.panel-students-list a:hover,
.panel-students a:hover {
  text-decoration: none;
}
.panel-students-list .panel-body a:hover{
  background-color: #eee;
  border: 1px solid #e1e1e1;
  border-left: 3px solid #ccc;
  transition: background-color .2s ease-in-out; 
}

.header-image {
  text-align: center;
  margin: 0 auto;
}

.kebab-dropdown li a {
  white-space: nowrap;
}

.refresh-widget-data a:hover,
.filter-widget-data a:hover {
  color: #fff !important;
  background-color: #09c;
}

.refresh-widget-data a,
.filter-widget-data a {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
  padding: 8px 0 0 2px;
}

.refresh-widget-data,
.filter-widget-data {
  text-align: center;
  z-index: 9999;
  position: relative;
}

  .filter-widget-data a {
    display: block;
    bottom: -219px;
    left: 0px;
    transition: none;
  }

.richText {
  margin-top: 20px !important;
  box-shadow: 0 0 5px 0 #999 !important;
}

.richText .richText-editor {
  height: 150px
}

.spellcheck {
  background-image: url("../../admin-assets/images/spellchkr.png");
  height: 32px;
  width: 32px;
  display: inline-block;
  background-repeat: no-repeat;
}

.input-group-addon {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0;
}

.richText-dropdown {
  z-index: 99999;
}

.input-group-addon {
  position: relative;
  left: -10px;
}

.hidden {
  display: none !important
}

.px-10 {
  padding: 0 10px;
}

.modal-body .bottom {
  position: relative;
  right: 20px;
  bottom: -70px !important;
}

.panel-my-team {
  margin-top: 0;
}

.refresh-widget-data,
.filter-widget-data,
.assignments-refresh-widget-data {
  text-align: center;
  z-index: 9999;
  position: relative;
}

.refresh-widget-data a,
.filter-widget-data a,
.assignments-refresh-widget-data a

 {
  display: block;
  bottom: -219px;
  left: 0;
  transition: none;
}

#widgetStudents {
  padding-bottom: 10px;
}

#widgetStudents .refresh-widget-data a {
  bottom: -233px;
  padding-top: 6px;
}

#widgetExpiringCourse .download-widget-data a,
#widgetStudents .download-widget-data a {
  bottom: -222px;
  left: 216px;
  padding-top: 5px;
}

#widgetUpcomingClasses .download-widget-data a,
#widgetExpiringCourse .download-widget-data a {
  left: 200px;
}

#widgetStudents .metric-box-footer {
  padding-top: 10px;
}

.dup.hidden-show-item {
  display: table-row !important;
  visibility: visible !important;
  border: 2px dotted #ddd;
  -webkit-animation: fadein .5s;
  -moz-animation: fadein .5s;
  -ms-animation: fadein .5s;
  -o-animation: fadein .5s;
  animation: fadein .5s;
}

.dup.hidden-show-item td {
  -webkit-animation: fadein .5s;
  -moz-animation: fadein .5s;
  -ms-animation: fadein .5s;
  -o-animation: fadein .5s;
  animation: fadein .5s;
}

.dup.hidden-show-item td {
  background-color: #f9f9e5 !important;
}

#studentsActiveTable_wrapper .dup.hidden,
#studentsActiveTable_wrapper .unique.hidden
{
  display: none;
}


th.course {
  width: 35% !important;
}

table.dataTable td.select-checkbox:after, table.dataTable td.select-checkbox:before {
  left: 10px;
}

table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected  {
  background-color: hsl(200deg 100% 40% / 19%);
}

.details-control {
  background: url('../images/plus-alt.png') no-repeat center center;
  cursor: pointer;
}


element.style {
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
td, th {
  padding: 0;
}
*, .gritter-item p, .gritter-title {
  word-wrap: break-word;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
td {
  display: table-cell;
  vertical-align: inherit;
}
table.dataTable tbody td.selected, table.dataTable tbody th.selected, table.dataTable tbody tr.selected {
  color: #70b9d1;
  font-weight: bold;
}

tr.shown td.details-control {
  background: url('../images/minus-alt.png') no-repeat center center;
}
/***** admin hlc settings ******/
.fp {
    border-top: 5px solid #007aa3;
    background: #eee;
    margin: 0;
}

.ph {
    background: 15px center no-repeat #fff url("../../admin-assets/images/logo-healthstream-large.png");
    border-top: 3px solid #0099cc;
    height: 80px;
    width: 100%;
}

.mb {
    background: #f3f3f3;
    border-top: 1px solid #ddd;
}
