body {
    color: #555;
    background-color: #fff;

}
a:focus, :focus, .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline-width:0px;
}
.h1 {
    font-size: 32px;
}

.h2 {
    font-size: 26px;
}

.h3 {
    font-size: 22px;
}

.h4 {
    font-size: 16px;
}

/**** boot helpers *******/
.shadow-none {box-shadow: none !important}

.w-25 {width: 25% !important}

.w-50 {width: 50% !important}

.w-75 {width: 75% !important}

.w-100 {width: 100% !important}

.w-auto {width: auto !important}

.h-25 {height: 25% !important}

.h-50 {height: 50% !important}

.h-75 {height: 75% !important}

.h-100 {height: 100% !important}

.h-auto {height: auto !important}

.mw-100 {max-width: 100% !important}

.mh-100 {max-height: 100% !important}

.m-0 {margin: 0 !important}

.mt-0, .my-0 {margin-top: 0 !important}

.mr-0, .mx-0 {margin-right: 0 !important}

.mb-0, .my-0 {margin-bottom: 0 !important}

.ml-0, .mx-0 {margin-left: 0 !important}

.m-1 {margin: .25rem !important}

.mt-1, .my-1 {margin-top: .25rem !important}

.mr-1, .mx-1 {margin-right: .25rem !important}

.mb-1, .my-1 {margin-bottom: .25rem !important}

.ml-1, .mx-1 {margin-left: .25rem !important}

.m-2 {margin: .5rem !important}

.mt-2, .my-2 {margin-top: .5rem !important}

.mr-2, .mx-2 {margin-right: .5rem !important}

.mb-2, .my-2 {margin-bottom: .5rem !important}

.ml-2, .mx-2 {margin-left: .5rem !important}

.m-3 {margin: 1rem !important}

.mt-3, .my-3 {margin-top: 1rem !important}

.mr-3, .mx-3 {margin-right: 1rem !important}

.mb-3, .my-3 {margin-bottom: 1rem !important}

.ml-3, .mx-3 {margin-left: 1rem !important}

.m-4 {margin: 1.5rem !important}

.mt-4, .my-4 {margin-top: 1.5rem !important}

.mr-4, .mx-4 {margin-right: 1.5rem !important}

.mb-4, .my-4 {margin-bottom: 1.5rem !important}

.ml-4, .mx-4 {margin-left: 1.5rem !important}

.m-5 {margin: 3rem !important}

.mt-5, .my-5 {margin-top: 3rem !important}

.mr-5, .mx-5 {margin-right: 3rem !important}

.mb-5, .my-5 {margin-bottom: 3rem !important}

.ml-5, .mx-5 {margin-left: 3rem !important}

.p-0 {padding: 0 !important}

.pt-0, .py-0 {padding-top: 0 !important}

.pr-0, .px-0 {padding-right: 0 !important}

.pb-0, .py-0 {padding-bottom: 0 !important}

.pl-0, .px-0 {padding-left: 0 !important}

.p-1 {padding: .25rem !important}

.pt-1, .py-1 {padding-top: .25rem !important}

.pr-1, .px-1 {padding-right: .25rem !important}

.pb-1, .py-1 {padding-bottom: .25rem !important}

.pl-1, .px-1 {padding-left: .25rem !important}

.p-2 {padding: .5rem !important}

.pt-2, .py-2 {padding-top: .5rem !important}

.pr-2, .px-2 {padding-right: .5rem !important}

.pb-2, .py-2 {padding-bottom: .5rem !important}

.pl-2, .px-2 {padding-left: .5rem !important}

.p-3 {padding: 1rem !important}

.pt-3, .py-3 {padding-top: 1rem !important}

.pr-3, .px-3 {padding-right: 1rem !important}

.pb-3, .py-3 {padding-bottom: 1rem !important}

.pl-3, .px-3 {padding-left: 1rem !important}

.p-4 {padding: 1.5rem !important}

.pt-4, .py-4 {padding-top: 1.5rem !important}

.pr-4, .px-4 {padding-right: 1.5rem !important}

.pb-4, .py-4 {padding-bottom: 1.5rem !important}

.pl-4, .px-4 {padding-left: 1.5rem !important}

.p-5 {padding: 3rem !important}

.pt-5, .py-5 {padding-top: 3rem !important}

.pr-5, .px-5 {padding-right: 3rem !important}

.pb-5, .py-5 {padding-bottom: 3rem !important}

.pl-5, .px-5 {padding-left: 3rem !important}

.m-auto {margin: auto !important}

.mt-auto, .my-auto {margin-top: auto !important}

.mr-auto, .mx-auto {margin-right: auto !important}

.mb-auto, .my-auto {margin-bottom: auto !important}

.ml-auto, .mx-auto {margin-left: auto !important}

.text-justify {text-align: justify !important}

.text-nowrap {white-space: nowrap !important}

.text-truncate {overflow: hidden;text-overflow: ellipsis;white-space: nowrap}

.text-left {text-align: left !important}

.text-right {text-align: right !important}

.text-center {text-align: center !important}

@media (min-width: 576px) {

    .float-sm-left {float: left !important}

    .float-sm-right {float: right !important}

    .float-sm-none {float: none !important}

    .m-sm-0 {margin: 0 !important}

    .mt-sm-0, .my-sm-0 {margin-top: 0 !important}

    .mr-sm-0, .mx-sm-0 {margin-right: 0 !important}

    .mb-sm-0, .my-sm-0 {margin-bottom: 0 !important}

    .ml-sm-0, .mx-sm-0 {margin-left: 0 !important}

    .m-sm-1 {margin: .25rem !important}

    .mt-sm-1, .my-sm-1 {margin-top: .25rem !important}

    .mr-sm-1, .mx-sm-1 {margin-right: .25rem !important}

    .mb-sm-1, .my-sm-1 {margin-bottom: .25rem !important}

    .ml-sm-1, .mx-sm-1 {margin-left: .25rem !important}

    .m-sm-2 {margin: .5rem !important}

    .mt-sm-2, .my-sm-2 {margin-top: .5rem !important}

    .mr-sm-2, .mx-sm-2 {margin-right: .5rem !important}

    .mb-sm-2, .my-sm-2 {margin-bottom: .5rem !important}

    .ml-sm-2, .mx-sm-2 {margin-left: .5rem !important}

    .m-sm-3 {margin: 1rem !important}

    .mt-sm-3, .my-sm-3 {margin-top: 1rem !important}

    .mr-sm-3, .mx-sm-3 {margin-right: 1rem !important}

    .mb-sm-3, .my-sm-3 {margin-bottom: 1rem !important}

    .ml-sm-3, .mx-sm-3 {margin-left: 1rem !important}

    .m-sm-4 {margin: 1.5rem !important}

    .mt-sm-4, .my-sm-4 {margin-top: 1.5rem !important}

    .mr-sm-4, .mx-sm-4 {margin-right: 1.5rem !important}

    .mb-sm-4, .my-sm-4 {margin-bottom: 1.5rem !important}

    .ml-sm-4, .mx-sm-4 {margin-left: 1.5rem !important}

    .m-sm-5 {margin: 3rem !important}

    .mt-sm-5, .my-sm-5 {margin-top: 3rem !important}

    .mr-sm-5, .mx-sm-5 {margin-right: 3rem !important}

    .mb-sm-5, .my-sm-5 {margin-bottom: 3rem !important}

    .ml-sm-5, .mx-sm-5 {margin-left: 3rem !important}

    .p-sm-0 {padding: 0 !important}

    .pt-sm-0, .py-sm-0 {padding-top: 0 !important}

    .pr-sm-0, .px-sm-0 {padding-right: 0 !important}

    .pb-sm-0, .py-sm-0 {padding-bottom: 0 !important}

    .pl-sm-0, .px-sm-0 {padding-left: 0 !important}

    .p-sm-1 {padding: .25rem !important}

    .pt-sm-1, .py-sm-1 {padding-top: .25rem !important}

    .pr-sm-1, .px-sm-1 {padding-right: .25rem !important}

    .pb-sm-1, .py-sm-1 {padding-bottom: .25rem !important}

    .pl-sm-1, .px-sm-1 {padding-left: .25rem !important}

    .p-sm-2 {padding: .5rem !important}

    .pt-sm-2, .py-sm-2 {padding-top: .5rem !important}

    .pr-sm-2, .px-sm-2 {padding-right: .5rem !important}

    .pb-sm-2, .py-sm-2 {padding-bottom: .5rem !important}

    .pl-sm-2, .px-sm-2 {padding-left: .5rem !important}

    .p-sm-3 {padding: 1rem !important}

    .pt-sm-3, .py-sm-3 {padding-top: 1rem !important}

    .pr-sm-3, .px-sm-3 {padding-right: 1rem !important}

    .pb-sm-3, .py-sm-3 {padding-bottom: 1rem !important}

    .pl-sm-3, .px-sm-3 {padding-left: 1rem !important}

    .p-sm-4 {padding: 1.5rem !important}

    .pt-sm-4, .py-sm-4 {padding-top: 1.5rem !important}

    .pr-sm-4, .px-sm-4 {padding-right: 1.5rem !important}

    .pb-sm-4, .py-sm-4 {padding-bottom: 1.5rem !important}

    .pl-sm-4, .px-sm-4 {padding-left: 1.5rem !important}

    .p-sm-5 {padding: 3rem !important}

    .pt-sm-5, .py-sm-5 {padding-top: 3rem !important}

    .pr-sm-5, .px-sm-5 {padding-right: 3rem !important}

    .pb-sm-5, .py-sm-5 {padding-bottom: 3rem !important}

    .pl-sm-5, .px-sm-5 {padding-left: 3rem !important}

    .m-sm-auto {margin: auto !important}

    .mt-sm-auto, .my-sm-auto {margin-top: auto !important}

    .mr-sm-auto, .mx-sm-auto {margin-right: auto !important}

    .mb-sm-auto, .my-sm-auto {margin-bottom: auto !important}

    .ml-sm-auto, .mx-sm-auto {margin-left: auto !important}

    .text-sm-left {text-align: left !important}

    .text-sm-right {text-align: right !important}

    .text-sm-center {text-align: center !important}
}

@media (min-width: 768px) {
    .float-md-left {float: left !important}

    .float-md-right {float: right !important}

    .float-md-none {float: none !important}

    .m-md-0 {margin: 0 !important}

    .mt-md-0, .my-md-0 {margin-top: 0 !important}

    .mr-md-0, .mx-md-0 {margin-right: 0 !important}

    .mb-md-0, .my-md-0 {margin-bottom: 0 !important}

    .ml-md-0, .mx-md-0 {margin-left: 0 !important}

    .m-md-1 {margin: .25rem !important}

    .mt-md-1, .my-md-1 {margin-top: .25rem !important}

    .mr-md-1, .mx-md-1 {margin-right: .25rem !important}

    .mb-md-1, .my-md-1 {margin-bottom: .25rem !important}

    .ml-md-1, .mx-md-1 {margin-left: .25rem !important}

    .m-md-2 {margin: .5rem !important}

    .mt-md-2, .my-md-2 {margin-top: .5rem !important}

    .mr-md-2, .mx-md-2 {margin-right: .5rem !important}

    .mb-md-2, .my-md-2 {margin-bottom: .5rem !important}

    .ml-md-2, .mx-md-2 {margin-left: .5rem !important}

    .m-md-3 {margin: 1rem !important}

    .mt-md-3, .my-md-3 {margin-top: 1rem !important}

    .mr-md-3, .mx-md-3 {margin-right: 1rem !important}

    .mb-md-3, .my-md-3 {margin-bottom: 1rem !important}

    .ml-md-3, .mx-md-3 {margin-left: 1rem !important}

    .m-md-4 {margin: 1.5rem !important}

    .mt-md-4, .my-md-4 {margin-top: 1.5rem !important}

    .mr-md-4, .mx-md-4 {margin-right: 1.5rem !important}

    .mb-md-4, .my-md-4 {margin-bottom: 1.5rem !important}

    .ml-md-4, .mx-md-4 {margin-left: 1.5rem !important}

    .m-md-5 {margin: 3rem !important}

    .mt-md-5, .my-md-5 {margin-top: 3rem !important}

    .mr-md-5, .mx-md-5 {margin-right: 3rem !important}

    .mb-md-5, .my-md-5 {margin-bottom: 3rem !important}

    .ml-md-5, .mx-md-5 {margin-left: 3rem !important}

    .p-md-0 {padding: 0 !important}

    .pt-md-0, .py-md-0 {padding-top: 0 !important}

    .pr-md-0, .px-md-0 {padding-right: 0 !important}

    .pb-md-0, .py-md-0 {padding-bottom: 0 !important}

    .pl-md-0, .px-md-0 {padding-left: 0 !important}

    .p-md-1 {padding: .25rem !important}

    .pt-md-1, .py-md-1 {padding-top: .25rem !important}

    .pr-md-1, .px-md-1 {padding-right: .25rem !important}

    .pb-md-1, .py-md-1 {padding-bottom: .25rem !important}

    .pl-md-1, .px-md-1 {padding-left: .25rem !important}

    .p-md-2 {padding: .5rem !important}

    .pt-md-2, .py-md-2 {padding-top: .5rem !important}

    .pr-md-2, .px-md-2 {padding-right: .5rem !important}

    .pb-md-2, .py-md-2 {padding-bottom: .5rem !important}

    .pl-md-2, .px-md-2 {padding-left: .5rem !important}

    .p-md-3 {padding: 1rem !important}

    .pt-md-3, .py-md-3 {padding-top: 1rem !important}

    .pr-md-3, .px-md-3 {padding-right: 1rem !important}

    .pb-md-3, .py-md-3 {padding-bottom: 1rem !important}

    .pl-md-3, .px-md-3 {padding-left: 1rem !important}

    .p-md-4 {padding: 1.5rem !important}

    .pt-md-4, .py-md-4 {padding-top: 1.5rem !important}

    .pr-md-4, .px-md-4 {padding-right: 1.5rem !important}

    .pb-md-4, .py-md-4 {padding-bottom: 1.5rem !important}

    .pl-md-4, .px-md-4 {padding-left: 1.5rem !important}

    .p-md-5 {padding: 3rem !important}

    .pt-md-5, .py-md-5 {padding-top: 3rem !important}

    .pr-md-5, .px-md-5 {padding-right: 3rem !important}

    .pb-md-5, .py-md-5 {padding-bottom: 3rem !important}

    .pl-md-5, .px-md-5 {padding-left: 3rem !important}

    .m-md-auto {margin: auto !important}

    .mt-md-auto, .my-md-auto {margin-top: auto !important}

    .mr-md-auto, .mx-md-auto {margin-right: auto !important}

    .mb-md-auto, .my-md-auto {margin-bottom: auto !important}

    .ml-md-auto, .mx-md-auto {margin-left: auto !important}

    .text-md-left {text-align: left !important}

    .text-md-right {text-align: right !important}

    .text-md-center {text-align: center !important}
}

@media (min-width: 992px) {
    .float-lg-left {float: left !important}

    .float-lg-right {float: right !important}

    .float-lg-none {float: none !important}

    .m-lg-0 {margin: 0 !important}

    .mt-lg-0, .my-lg-0 {margin-top: 0 !important}

    .mr-lg-0, .mx-lg-0 {margin-right: 0 !important}

    .mb-lg-0, .my-lg-0 {margin-bottom: 0 !important}

    .ml-lg-0, .mx-lg-0 {margin-left: 0 !important}

    .m-lg-1 {margin: .25rem !important}

    .mt-lg-1, .my-lg-1 {margin-top: .25rem !important}

    .mr-lg-1, .mx-lg-1 {margin-right: .25rem !important}

    .mb-lg-1, .my-lg-1 {margin-bottom: .25rem !important}

    .ml-lg-1, .mx-lg-1 {margin-left: .25rem !important}

    .m-lg-2 {margin: .5rem !important}

    .mt-lg-2, .my-lg-2 {margin-top: .5rem !important}

    .mr-lg-2, .mx-lg-2 {margin-right: .5rem !important}

    .mb-lg-2, .my-lg-2 {margin-bottom: .5rem !important}

    .ml-lg-2, .mx-lg-2 {margin-left: .5rem !important}

    .m-lg-3 {margin: 1rem !important}

    .mt-lg-3, .my-lg-3 {margin-top: 1rem !important}

    .mr-lg-3, .mx-lg-3 {margin-right: 1rem !important}

    .mb-lg-3, .my-lg-3 {margin-bottom: 1rem !important}

    .ml-lg-3, .mx-lg-3 {margin-left: 1rem !important}

    .m-lg-4 {margin: 1.5rem !important}

    .mt-lg-4, .my-lg-4 {margin-top: 1.5rem !important}

    .mr-lg-4, .mx-lg-4 {margin-right: 1.5rem !important}

    .mb-lg-4, .my-lg-4 {margin-bottom: 1.5rem !important}

    .ml-lg-4, .mx-lg-4 {margin-left: 1.5rem !important}

    .m-lg-5 {margin: 3rem !important}

    .mt-lg-5, .my-lg-5 {margin-top: 3rem !important}

    .mr-lg-5, .mx-lg-5 {margin-right: 3rem !important}

    .mb-lg-5, .my-lg-5 {margin-bottom: 3rem !important}

    .ml-lg-5, .mx-lg-5 {margin-left: 3rem !important}

    .p-lg-0 {padding: 0 !important}

    .pt-lg-0, .py-lg-0 {padding-top: 0 !important}

    .pr-lg-0, .px-lg-0 {padding-right: 0 !important}

    .pb-lg-0, .py-lg-0 {padding-bottom: 0 !important}

    .pl-lg-0, .px-lg-0 {padding-left: 0 !important}

    .p-lg-1 {padding: .25rem !important}

    .pt-lg-1, .py-lg-1 {padding-top: .25rem !important}

    .pr-lg-1, .px-lg-1 {padding-right: .25rem !important}

    .pb-lg-1, .py-lg-1 {padding-bottom: .25rem !important}

    .pl-lg-1, .px-lg-1 {padding-left: .25rem !important}

    .p-lg-2 {padding: .5rem !important}

    .pt-lg-2, .py-lg-2 {padding-top: .5rem !important}

    .pr-lg-2, .px-lg-2 {padding-right: .5rem !important}

    .pb-lg-2, .py-lg-2 {padding-bottom: .5rem !important}

    .pl-lg-2, .px-lg-2 {padding-left: .5rem !important}

    .p-lg-3 {padding: 1rem !important}

    .pt-lg-3, .py-lg-3 {padding-top: 1rem !important}

    .pr-lg-3, .px-lg-3 {padding-right: 1rem !important}

    .pb-lg-3, .py-lg-3 {padding-bottom: 1rem !important}

    .pl-lg-3, .px-lg-3 {padding-left: 1rem !important}

    .p-lg-4 {padding: 1.5rem !important}

    .pt-lg-4, .py-lg-4 {padding-top: 1.5rem !important}

    .pr-lg-4, .px-lg-4 {padding-right: 1.5rem !important}

    .pb-lg-4, .py-lg-4 {padding-bottom: 1.5rem !important}

    .pl-lg-4, .px-lg-4 {padding-left: 1.5rem !important}

    .p-lg-5 {padding: 3rem !important}

    .pt-lg-5, .py-lg-5 {padding-top: 3rem !important}

    .pr-lg-5, .px-lg-5 {padding-right: 3rem !important}

    .pb-lg-5, .py-lg-5 {padding-bottom: 3rem !important}

    .pl-lg-5, .px-lg-5 {padding-left: 3rem !important}

    .m-lg-auto {margin: auto !important}

    .mt-lg-auto, .my-lg-auto {margin-top: auto !important}

    .mr-lg-auto, .mx-lg-auto {margin-right: auto !important}

    .mb-lg-auto, .my-lg-auto {margin-bottom: auto !important}

    .ml-lg-auto, .mx-lg-auto {margin-left: auto !important}

    .text-lg-left {text-align: left !important}

    .text-lg-right {text-align: right !important}

    .text-lg-center {text-align: center !important}
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.1;
    color: #555;
    margin: 5px 0;
}
.import-results-col {
    padding: 10px;
    margin-top: 20px;
}


.import-result-heading {
    height: 27px;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    margin-top: 30px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.import-result-heading small {
    font-weight: 400;
    color: #999;
    display: inline-block;
    font-size: 75%;
}

.import-result-container-single {
    height: 84px;
    width: 100%;
    border: 1px solid #D7DBE0;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px -1px rgba(69, 90, 100, 0.3);
    display: inline-block;
    position: relative;
    margin: 3px;
}

.import-result-container {
    height: 84px;
    width: 100%;
    border: 1px solid #D7DBE0;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 5px -1px rgba(69, 90, 100, 0.3);
    display: inline-block;
    margin: 3px;
    padding: 15px 10px;
}

.import-result-single {
    height: 84px;
    color: #999;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    padding: 15px 10px;

}

/*.import-result-single:last-of-type {
    margin-left: 20px;
}*/

/*.report {
    width: 660px;
    position: relative;
}*/


.report.loading .import-result-section .overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, .8);
    width: 100%;
    z-index: 10;
    height: 100%;
    border-radius: 8px;
}

.overlay .fa-spinner {
    position: absolute;
    top: 20px;
    left: 200px;
    font-size: 45px;
    color: #555;
}

.import-result {
    height: 24px;
    width: 68px;
    color: #999;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    display: table-cell;


}

.import-result-value {
    color: #999;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    line-height: 20px;
    text-align: right;
}

.import-result-container .progress {
    margin-top: 15px;
    margin-right: 45px;
    margin-left: 5px;
    height: 7px;
}

.import-result-single .progress {
    margin-top: 16px;
    margin-right: 45px;
    margin-left: 10px;
    height: 7px;
}

.import-result-percent {
    font-size: 12px;
    position: absolute;
    top: 50px;
    right: 22px;
    color: #999;

}

.import-result-container.import-result-success .import-result-percent {
    color: #999;
}

.import-result-container.import-result-error .import-result-percent {
    color: #999;
}

.import-result-container.no-results .import-result-percent {
    color: #999 !important;
}

.import-results-header {
    width: 75%;
    height: 50px;
    position: absolute;
}

.import-results-header h2 {
    color: #333;
    font-size: 20px;
}

.import-results-header a {
    font-size: 14px;
    margin-left: 40px;
    font-weight: 400;
}

.date-range .date-selector .control-label {
    font-size: 16px;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 600;
}

.modal .modal-title {
    font-size: 16px;
    font-weight: 500;
}

.modal .control-label {
    font-size: 14px;
    font-weight: 600;
}

.modal .input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    height: 34px;
}

.import-results-date-range-label {
    font-size: 18px;
}

.modal-body {
    font-size: 14px;
}

.import-result-container:hover {
    background-color: #f3f3f3;
    text-decoration: none;
}

.modal-admin-lg .modal-dialog {
    width: 900px;
}

.modal h1 {
    color: #333;
    font-size: 22px;
    line-height: 30px;
}

.modal th {
    /* font-weight: 600; */
}

.modal table th,
.modal table td {
    color: #333;
    font-size: 12px;
}

/* .modal h2 {
    margin-bottom: 20px;
} */

.modal h2 small {
    padding-left: 5px;
    font-size: 14px;
    font-style: italic;
}

.import-result-noresults {
    text-align: center;
    padding: 10px;
    color: #999;
    padding-top: 25px;
}


/* Important part */
.modal-report .modal-dialog {
    overflow-y: initial !important
}

.modal-report .modal-body {
    height: 80vh;
    overflow-y: auto;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    /* margin-top: 15px; */
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
    width: 250px;
}


.dataTable .team-action {
    text-align: center;
}


.dataTable .employee {
    width: 250px;
}

.dataTable th {
    font-weight: 600;
}

.dataTable,
.dataTable th {
    border: none !important;
}

.dataTable thead th.sorting.sorting_asc,
.display thead th.sorting.sorting_desc,
.display thead th.sorting_asc,
.display thead th.sorting_desc,
table.dataTable thead th.sorting.sorting_asc,
table.dataTable thead th.sorting.sorting_desc,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    font-weight: 600;
    background-color: transparent !important;
}

.dataTable .odd .sorting_1,
table.dataTable .odd .sorting_1 {
    background-color: transparent !important;
}

.dataTable .even .sorting_1,
table.dataTable .even .sorting_1 {
    background-color: transparent !important;
}

.display thead th.sorting.sorting_asc,
.display thead th.sorting.sorting_desc,
.display thead th.sorting_asc,
.display thead th.sorting_desc,
table.dataTable thead th.sorting.sorting_asc,
table.dataTable thead th.sorting.sorting_desc,
table.dataTable thead th.sorting_asc,
table.dataTable thead th.sorting_desc {
    background-color: transparent !important;
}

table.dataTable thead span.sort-icon {
    display: inline-block;
    padding-left: 5px;
    width: 16px;
    height: 16px;
    padding-right: 10px;
}

table.dataTable thead .sorting span.sort-icon:after {
    opacity: .2;
    content: "\f0dc";
    font-family: FontAwesome;
}

table.dataTable thead .sorting_desc span.sort-icon:after {
    opacity: 1;
    content: "\f0dd";
    font-family: FontAwesome;
}

table.dataTable thead .sorting_asc span.sort-icon:after {
    opacity: 1;
    content: "\f0de";
    font-family: FontAwesome;
}

table.dataTable thead .sorting:after {
    content: "";
}

table.dataTable thead .sorting_asc:after {
    content: "";
}

table.dataTable thead .sorting_desc:after {
    content: "";
}

.dataTables_wrapper::after {
    display: block;
    clear: both;
    content: "";
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0;
    padding: 0;
}

.label,
.pagination>li {
    display: inline;
}

.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.paginate_button.next a,
.paginate_button.previous a,
.paginate_button a {
    height: 30px;
}

.pagination>li>a,
.pagination>li>span {
    margin-left: 0;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #999;
    background-color: #fff;
    border-color: #ddd;
    cursor: not-allowed;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {

    width: 20px;
}

.paginate_button.next a i,
.paginate_button.previous a i {
    margin-top: 3px;
    margin-left: -5px;
}

/* .paginate_button.previous a i{
    margin-left: -5px;
}
.paginate_button.next a i{
    margin-right: -5px;
} */
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0;
    padding: 0;
}

.label,
.pagination>li {
    display: inline;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    background-color: #09c;
    border-color: #09c;
    cursor: default;
    /* margin-top:-3px; */

}

.pagination a,
.pagination span {
    margin-left: 0;
    line-height: 16px;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}



@media screen and (max-width: 767px) {

    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: right;
    }

    div.dataTables_filter input {
        margin-top: 10px;
    }
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
}

.suppMgrImportSuccessSummaryBottom,
.suppMgrImportSuccessBottom,
.suppMgrImportProgressSummaryBottom,
.suppMgrImportErrorDetailBottom,
.suppMgrImportErrorSummaryBottom, 
.studentImportSuccessSummaryBottom,
.studentImportSuccessBottom,
.studentImportErrorDetailBottom,
.studentImportErrorSummaryBottom,
.studentImportProgressSummaryBottom,
.jobFunctionSuccessSummaryBottom,
.jobFunctionSuccessBottom,
.jobFunctionErrorDetailBottom,
.jobFunctionErrorSummaryBottom,
.jobFunctionProgressSummaryBottom,
.roleImportSuccessSummaryBottom,
.roleImportErrorSummaryBottom,
.roleActionSummaryBottom,
.roleImportErrorDetailBottom,
.roleImportProgressSummaryBottom,
.licenseImportSummaryBottom,
.licenseImportSuccessSummaryBottom,
.licenseImportErrorSummaryBottom,
.licenseImportErrorDetailBottom,
.licenseImportProgressSummaryBottom {
    float: right;
    margin-top: -10px;
    margin-right: 20px;
}

.dataTables_wrapper .bottom {
    text-align: right;
}

.dataTables_length {
    margin-right: 15px;
}

.dataTables_length,
.dataTables_paginate {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

.dataTables_length,
.dataTables_paginate {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative;
}

/*Custom*/
.dataTable-container {
    border-top: 1px solid #ddd;
    padding-top: 20px;
    /* margin-top: 10px; */
}

.dataTable-container>.h3 {
    float: left;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 0px;


}

.dataTable-container table {
    margin-left: 15px;
    margin-right: 30px;
    width: 97%;
    margin-bottom: 0px;

}

body a.btn:visited {
    color: #fff;
    text-decoration: none;
}

.jobFunctionSuccess .update-day {
    width:120px !important;
}

.suppMgrImportSuccess, .studentImportSuccess, .jobFunctionImportSuccess, .suppMgrImportProgressSummary, .jobFunctionProgressSummary {
    min-width: 700px;
    table-layout: fixed;
}

div.dataTables_wrapper div.dataTables_length {
    margin-top: 5px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    display: inline-block;
    height: 30px;
}

body a:visited {
    color: #09C;
    text-decoration: none;
}

.modal-xl .modal-dialog {
    width: 60vw;
}

.update-day {
    width: 110px !important;
}

.institution {
    width: 260px !important;
}

.stud-added {
    width: 90px !important;
}

.updated {
    width: 90px !important;
}

.removed {
    width: 90px !important;
}

.dept-added {
    width: 90px !important;
}

.job-added {
    width: 90px !important;
}

.custom-val-added {
    width: 90px !important;
}
.report-header {
    margin-bottom:20px;
}
strong {
    font-weight:700;
}
th {
    font-weight:600;
}
.display thead th.sorting.sorting_desc, .display thead th.sorting_asc, .display thead th.sorting_desc, .team-table thead th.sorting.sorting_asc, table.dataTable thead th.sorting.sorting_asc, table.dataTable thead th.sorting.sorting_desc, table.dataTable thead th.sorting_asc, table.dataTable thead th.sorting_desc {
    font-weight: 700;
}

.top-records-msg {
   margin-top: -43px;
   height: 50px;
   color: #777;
   font-style: italic;
}
.change-date-range {
    margin-left: 0 !important;
}
.text-warning {
    color: #ff902b;
    font-weight: 600;
}
.icon-download, .icon-refresh, .icon-calendar-plus-o{
    margin-right: 13px;
    color: #bbb;
    margin-top: 10px;
    font-size: 20px;
}
.checkbox {
    margin: 10px;
}
.d-block {
    display: block;
}

.d-inline-block {
    display: inline-block;
}
